<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550118925116-r8vc7togi8786ja8ft2shkmf6g7m82t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550118925116-r8vc7togi8786ja8ft2shkmf6g7m82t9</string>
	<key>API_KEY</key>
	<string>AIzaSyB01EZqTb_UGdSXDn6xToX35oOOvlfHXPg</string>
	<key>GCM_SENDER_ID</key>
	<string>550118925116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshay.CustomLogin</string>
	<key>PROJECT_ID</key>
	<string>customlogin-9c3ac</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogin-9c3ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:550118925116:ios:ebfbe910aa9733eb8cb439</string>
</dict>
</plist>
